In [ ]:
import pandas as pd
df = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
print(pd.DataFrame(df))

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a=pd.DataFrame(exam_data, index=labels)
print(a)

In [ ]:
# 특정 칼럼만 뽑아내기
import pandas as pd
import numpy as np
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data, index=labels)
print(df[['name','score']])

In [ ]:
import pandas as pd
import numpy as np
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data, index=labels)
print(df[df['attempts']>2])           # 칼럼에서 특정 값보다 큰거 뽑아내기
print(len(df.axes[0]))          # 로우방향으로 길이 구하기( 데이터숫자)
print(df.axes[1])    # 컬럼 방향으로 구하기

In [ ]:
# NAN 있는 로우 데이터 뽑기
print(df[df['score'].isnull()])

# 특정 range 안에 데이터 뽑기
# print(df[15 <= df['score']<=20])  이렇게는 인식 x
print(df[df['score'].between(15,20)])

# print(df[ df['attempts'] <2 and df['score'] > 15 ])  오답
print( df[ ( df['attempts'] <2  ) & ( df['score'] > 15 ) ] )   #괄호랑 and 대신 & 만 됌.

In [ ]:
df.loc['d','score'] = 11.5
print(df)
print(df['attempts'].sum())
print(df['score'].mean())

In [ ]:
exam_data = {'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data, index=labels)
print(df['attempts'].sum())
print(df['score'].mean())

19
13.5625

In [ ]:
df.loc['k'] = [1, 'Suresh', 'yes', 15.5 ]
print(df)
df = df.drop("k")
print(df)